<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bookdabang.mapper.AddressMapper">
	<!-- 주소 select -->
	<select id="selectUserAddress" resultType="AddressVO">
		select * from address where userId = #{userId} order by address_no desc limit 0, 1
	</select>
	
	<!-- 주소 insert -->
	<insert id="insertAddress">
		insert into address(address_no,userId,recipient,postalcode,mainAddress,remainaddress,phonenumber,deliverymessage) 
		values(#{address_no},#{userId},#{recipient},#{postalcode},#{mainAddress},#{remainaddress},#{phonenumber},#{deliverymessage})
	</insert>
	
	<select id="nextAddressNo" resultType="int">
		select max(address_no)+1 as nextNo from address; 
	</select>
	
	<!-- 주소 변경 -->
	<update id="updateAddress">
		update address set 
		recipient = #{recipient}, postalcode = #{postalcode},mainAddress = #{mainAddress},remainaddress = #{remainaddress}, phonenumber = #{phonenumber},deliverymessage = #{deliverymessage}
		where address_no = #{address_no}
	</update>
	
	<!-- 주소 삭제 -->
	<delete id="deleteAddress">
		delete from address where address_no = #{address_no}
	</delete>

</mapper>