<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bookdabang.mapper.boardMapper">

	<select id="listAllFreeBoard" resultType="FreeBoard">
		select * from freeboard
		where deleteyn = 'y' order by boardno desc limit #{startNum},
		#{postPerPage}
	</select>

	<select id="readFreeBoard" resultType="FreeBoard">
		select * from freeboard
		where boardno=#{boardno}
	</select>

	<select id="readFile" resultType="AttachFileVO">
		select * from attachfile where
		freeboardNo =#{freeboardNo}
	</select>

	<select id="listAllReportBoard" resultType="ReportBoard">
		select * from
		reportboard order by reportno desc limit #{startNum},
		#{postPerPage}
	</select>

	<update id="insertReportBoard">
		insert into reportboard(boardno, reportuser, why)
		values(#{boardno},#{reportuser},#{why})
	</update>

	<insert id="insertFreeBoard">
		insert into freeboard(writer, title, content, date)
		values(#{writer},#{title},#{content},now())


	</insert>

	<select id="getMaxno" resultType="int">
		select max(boardno) as nextno
		from freeboard;
	</select>


	<update id="removeFreeBoard">
		update freeboard set deleteyn = 'N'
		where
		boardno=#{boardno}

	</update>

	<select id="removeAllFreeBoard" resultType="FreeBoard">
		select * from
		freeboard where deleteyn="N" order by boardno desc limit
		#{startNum},#{postPerPage}
	</select>


	<select id="readDelBoard" resultType="FreeBoard">
		select * from freeboard
		where boardno=#{boardno}
	</select>

	<select id="readMaxFileNo" resultType="int">
		select max(attachFileNo)
		from attachfile
	</select>

	<update id="restoreBoard">
		update freeboard set deleteyn='Y'
		where
		boardno=#{boardno}
	</update>

	<insert id="likeFreeBoard">
		insert into recommend(userId, freeBoardNo)
		values(#{userId},#{freeboardNo})
	</insert>

	<delete id="unilkeFreeBoard">
		delete from recommend
		where userId=#{userId} and
		freeBoardNo = #{freeboardNo}
	</delete>

	<select id="countLikeCheck" resultType="int">
		select count(*)
		from
		recommend
		where userId=#{userId} and freeBoardNo = #{freeboardNo}
	</select>

	<select id="countReportBoard" resultType="int">
		select count(*) from
		reportboard
		where reportuser=#{reportuser} and boardno=#{boardno}
	</select>

	<insert id="insertAttachFile">
		insert into attachfile(freeboardNo, originFile,
		thumbnailFile, notImageFile)
		values(#{freeboardNo}, #{originFile},
		#{thumbnailFile}, #{notImageFile});
	</insert>

	<update id="countLike">
		update freeboard set likecount= likecount+1 where
		boardno=#{boardno}
	</update>

	<update id="delLikeCount">
		update freeboard set likecount= likecount-1 where
		boardno=#{boardno}
	</update>

	<insert id="insertComment">
		insert into freeboardcomment(boardno, commentwriter,
		commentcontent)
		values(#{boardno},#{commentwriter},#{commentcontent});
	</insert>

	<update id="updateFreeboard">
		update freeboard set title=#{title},
		content=#{content}, modifydate=now() where boardno=#{boardno}
	</update>

	<select id="readComment" resultType="FreeBoardComment">
		select * from
		freeboardcomment where boardno = #{boardno}
	</select>

	<update id="modiComment">
		update freeboardcomment set
		commentcontent=#{commentcontent} where commentno=#{commentno}
	</update>

	<delete id="delComment">
		delete from freeboardcomment where
		commentno=#{commentno};
	</delete>

	<select id="readReportBoard" resultType="ReportBoard">
		select * from
		reportboard where reportno=#{reportno}
	</select>

	<select id="getSearchResultList" resultType="FreeBoard">
		select * from freeboard where deleteyn = 'y'
		<if test="searchType=='title'">
			and title like concat('%', #{searchWord}, '%')
		</if>
		<if test="searchType=='writer'">
			and writer like concat('%', #{searchWord},'%')
		</if>
		<if test="searchType=='content'">
			and content like concat('%', #{searchWord}, '%')
		</if>
		order by boardno desc limit #{startNum},#{postPerPage}
	</select>


	<select id="getSearchResultCnt" resultType="int">
		select count(*) from freeboard where deleteyn = 'y'
		<if test="searchType=='title'">
			and title like concat('%', #{searchWord}, '%')
		</if>
		<if test="searchType=='writer'">
			and writer like concat('%', #{searchWord}, '%')
		</if>
		<if test="searchType=='content'">
			and content like concat('%', #{searchWord}, '%')
		</if>

	</select>

	<select id="getSearchReportResultList" resultType="ReportBoard">
		select * from reportboard where
		<if test="status=='처리중'">
			reportstatus ='처리중'
		</if>
		<if test="status=='처리완료'">
			reportstatus ='처리완료'
		</if>
		 
	</select>


	<select id="getSearchResultCntReport" resultType="int">
		select count(*) from reportboard where
		<if test="status=='처리중'">
			reportstatus ='처리중'
		</if>
		<if test="status=='처리완료'">
			reportstatus ='처리완료'
		</if>
	
	</select>


	<select id="getListAllRemoveBoards" resultType="FreeBoard">
		select * from freeboard where deleteyn = 'n'
		<if test="searchType=='title'">
			and title like concat('%', #{searchWord}, '%')
		</if>
		<if test="searchType=='writer'">
			and writer like concat('%', #{searchWord},'%')
		</if>
		<if test="searchType=='content'">
			and content like concat('%', #{searchWord}, '%')
		</if>
		order by boardno desc limit #{startNum},#{postPerPage}
	</select>


	<select id="getSearchResultCntRemove" resultType="int">
		select count(*) from freeboard where deleteyn = 'n'
		<if test="searchType=='title'">
			and title like concat('%', #{searchWord}, '%')
		</if>
		<if test="searchType=='writer'">
			and writer like concat('%', #{searchWord}, '%')
		</if>
		<if test="searchType=='content'">
			and content like concat('%', #{searchWord}, '%')
		</if>

	</select>


	<select id="totalPost" resultType="int">
		select count(*) as totalCnt
		from freeboard where deleteyn='Y';

	</select>

	<select id="removeTotalPost" resultType="int">
		select count(*) as
		totalCnt
		from freeboard where deleteyn='N'

	</select>

	<select id="reportTotalPost" resultType="int">
		select count(*) as
		totalCnt
		from reportboard

	</select>

	<select id="getReadCount" resultType="PageView">
		select * from pageview
		where ip_address=#{ip_address} and freeboardNo=#{freeboardNo}
	</select>

	<update id="updateReadCount">
		update freeboard set readcount= readcount+1 where
		boardno=#{boardno};
	</update>

	<update id="updateReadCountProcess">
		update pageview set accessDate=#{accessDate} where
		ip_address=#{ip_address} and freeboardNo=#{freeboardNo}
	</update>

	<insert id="insertReadCount">
		insert into pageview(ip_address,
		freeboardNo)values(#{ip_address},#{freeboardNo})
	</insert>

	<update id="reportfreeBoard">
		update freeboard set content='신고처리가 된 글입니다' where
		boardno=#{boardno}
	</update>

	<update id="reportStatus">
		update reportboard set reportstatus="처리완료" where
		reportno=#{reportno}
	</update>

	<select id="userId" resultType="MemberVO">
		select userId from member where
		sessionId = #{sessionId}
	</select>

	<delete id="adminRemove">
		delete from freeboard where boardno = #{boardno};
	</delete>

	<delete id="admindelAttach">
		delete from attachfile where freeboardNo = #{freeboardNo};
	</delete>

	
	<!-- 마이페이지 -->
	<select id = "showMylike" resultType = "FreeBoard">
	select f.boardno, f.title, f.content, f.writer, f.date, f.readcount from recommend r join freeboard f on (r.freeboardNo = f.boardno) where r.userid  = #{userId} and deleteyn = 'Y';
	</select>
	
	<select id = "showPostFree" resultType ="FreeBoard">
	select * from freeboard where deleteyn = 'y' and writer = #{writer} order by date desc
	</select>
	
</mapper>
	


 
 