<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.bookdabang.mapper.ChartMapper">
 <select id="getSalesCount" resultType="ProductVO">
 select * from product where sales_count >= 90 limit 10
 
 </select>
  <select id="getRandomBook" resultType="ProductVO">
 select * from product ORDER BY RAND() limit 10
 </select>
 <select id="getVisitorInfo" resultType="VisitorCountWithDateFormat">
select DATE_FORMAT(accessdate,'%m') as monthSort ,count(ipaddr)as visitor from visitor_ipcheck group by monthSort order by accessdate asc
 </select>
 <insert id="autoInsertVisitor">
 insert into visitor_ipcheck values(#{ipaddr},#{accessdate})
 </insert>
 <select id="getTodayVisitor" resultType="int">
select count(DATE_FORMAT(accessdate,'%Y-%m-%d')) from visitor_ipcheck where DATE_FORMAT(accessdate,'%Y-%m-%d') = (select DATE_FORMAT(now(),'%Y-%m-%d'))
 </select>
 <select id="getYesterdayVisitor" resultType="int">
 select count(DATE_FORMAT(accessdate,'%Y-%m-%d')) from visitor_ipcheck where DATE_FORMAT(accessdate,'%Y-%m-%d') = (select DATE_FORMAT(now()- interval 1 day,'%Y-%m-%d'))
 </select>
<select id="getProductInfo" resultType="AdminProduct">
select p.*,c.category_name,count(r.reviewNo) as reviewCount
from product as p 
JOIN category as c on p.category_code = c.category_code 
LEFT OUTER JOIN review as r on p.product_no = r.productNo
group by p.product_no, r.productNo
</select>
 
 </mapper>