<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bookdabang.mapper.memberMapper">
	<!-- 회원가입 -->
	<insert id="insertMember">
		insert into member(userId, userPwd, nickName,
		userEmail, gender, phoneNum, userName) value(#{userId},
		sha1(md5(#{userPwd})), #{nickName}, #{userEmail}, #{gender},
		#{phoneNum}, #{userName})
	</insert>
	<!-- 중복 id체크 -->
	<select id="userIdCheck" resultType="MemberVO">
		select * from member where
		userId = #{userId}
	</select>
	<!-- 중복 닉네임체크 -->
	<select id="nickNameCheck" resultType="MemberVO">
		select * from member where
		nickName = #{nickName}
	</select>
	<!-- 추천인 포인트조회 -->
	<insert id="insertPoint">
		<if test="recommend !='' and recommend !='null'">
			insert into memberpoint(userId, point, pointWhy,
			recommend) values(#{userId}, #{point}, #{pointWhy}, #{recommend})
		</if>
		<if test="recommend =='' and recommend =='null'">
			insert into memberpoint(userId, point, pointWhy,
			recommend) values(#{userId}, #{point}, #{pointWhy}, null)
		</if>
	</insert>
	<!-- 전체회원조회 -->
	<select id="selectMember" resultType="MemberVO">
		select * from member where isdormant ="n" and isDraw="n"
	</select>

	<!-- 삭제 회원 조회 -->
	<select id="deleteMember" resultType="Withdraw">
		select * from withdraw
	</select>
	<!-- 회원 삭제 -->
	<delete id="delete">
		delete from member where userId =#{userId}
	</delete>
	
	<!-- 휴면/및 정지 회원 조회-->
	<select id="dormantMember" resultType="MemberVO">
		 select * from member where
		TIMESTAMPDIFF(DAY, lastLogin, now()) >= 90
	</select>
	
	<!-- 휴면/정지 전환 -->
	<update id="isdormant">
		update member set isdormant = #{isdormant} where userId=#{userId}
	</update> 

	<!-- 마이페이지(이정선)  -->
	
		<select id="login" resultType="MemberVO">
  		select * from member where userid=#{userId} and userPwd = sha1(md5(#{pwd}))
  	</select>
  	
  	<update id = "putLastLogin">
  		update member set lastLogin = now(), sessionId=#{sessionId} where userId=#{userId}
  	</update>
  	
  	<select id = "loginSession" resultType="MemberVO">
  		select * from member where sessionId = #{sessionId}
  	</select>
  	
  	<update id = "withdrawMember" >
  	update member set isDraw = 'Y' where userId=#{userId} 
  	</update>
  	
	<select id = "pointCheck" resultType="MemberPoint">
	select * from memberpoint where userid = #{userId} and point >0 order by pointWhen desc
	</select>

	<select id = "showRecentSeenProd" resultType ="RecentSeenProd">
	select p.title, p.cover, r.* from product p join recentSeenProd r on (p.product_no = r.lastSeenProd) where r.userId  = #{userId} order by r.lastSeenDate desc;
	</select>
	
	<update id = "updatePassword">
	update member set userPwd = sha1(md5(#{pwd})) where userId= #{userId}
	</update>
	
	<select id = "showOldPwd" resultType ="String">
	select userPwd from member where userId = #{userId}
	</select>
	
	<select id="myTotalPoint" resultType = "MemberPoint" >
	 select * from memberpoint
	</select>
	

	
	
	

</mapper>