<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bookdabang.mapper.OrderMapper">

	<!-- 유저ID or orderNo와 비밀번호로 select -->
	<select id="selectOrder" resultType="ProdOrder">
		select * from prodOrder
		<choose>
			<when test="userId != null">
				where userId = #{userId}
			</when>
			<otherwise>
				where orderBundle = #{orderBundle} and orderPwd = #{orderPwd}
			</otherwise>
		</choose>
	</select>
	
	<!-- 관리자가 전체 order select -->
	<select id="selectAllOrder" resultType="ProdOrder">
		select * from prodOrder limit #{startNum},#{postPerPage}
	</select>
	
	<!-- 관리자가 orderNo로 update -->
	<update id="updateAdminOrder">
		update prodOrder set orderState_code = #{orderState_code}, releaseDate = #{releaseDate} where orderNo = #{orderNo} 
	</update>
	
	
	<!-- prodOrder insert -->
	<insert id="insertOrder">
		insert into prodOrder(userId,productNo,productQtt,orderState_code,addressNo,price,orderPwd,orderBundle)
		values(#{userId},#{productNo},#{productQtt},1,#{addressNo},#{price},sha1(md5(#{orderPwd})),#{orderBundle})
	</insert>
	
	<!-- Order confirm update -->
	<update id="updateOrderCofirm">
		update prodOrder set confirm= 'Y' where orderNo = #{orderNo} 
	</update>
	
	<!-- 전체 출력 -->
	<select id="orderView" resultType="ProdOrder">
		select * from prodOrder limit #{startNum}, #{postPerPage}
	</select>
	
	<!-- 전체 주문 개수 -->
	<select id="allOrderCnt" resultType="int">
		select count(*) from prodOrder
	</select>
	
</mapper>