<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.bookdabang.mapper.ProductMapper" >

	<select id="selectAllProducts" resultType="Product">
		select product_no,title,author,sell_price,publisher,cover from product where display_status = 'yes' limit 9
	</select>
	
	<select id="selectProduct" resultType="Product">
		select*from product where product_no = #{prodNo}
	</select>
	
	<select id="selectTopProducts" resultType="Product">
		select product_no,title,author,sell_price,publisher,cover from product where display_status = 'yes' and
		category_code = #{category} order by sales_count desc limit 10
	</select>
	
	<update id="updateStock">
		update product set stock = stock-2, sales_count+2 where product_no = #{product_no}
	</update>
</mapper>