<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bookdabang.mapper.RefundReplyMapper">

	<!-- refundNo로 reply 전체 가져오기 -->
	<select id="selectAllReply" resultType="RefundReply">
		select * from RefundReply where refundNo = #{refundNo} order by ref desc and reforder asc
	</select>
	
	<!-- refundNo로 reply update  -->
	<update id="updateReply">
		update RefundReply set content = #{content} where refundNo = #{refundNo}
	</update>
	
	<!-- reply delete -->
	<delete id="deleteReply">
		delete from RefundReply where refundNo= #{refundNo}
	</delete>
	
	<!-- refundReply insert -->
	<insert id="insertReply">
		insert into RefundReply(content,userId,ref,step,reforder) values(#{content},#{userId},#{ref},#{step},#{reforder})
	</insert>
	
	<!-- nextRef  -->
	<select id="selectNextRef" resultType="int">
		select max(no)+1 as nextref from RefundReply
	</select>
	
</mapper>