<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bookdabang.mapper.RefundMapper">
	<!-- Refund 로그인유저 구매목록 출력 -->
	<select id="refundList" resultType="Refund">
		select * from refund where
		userId = #{userId}
	</select>
	<!-- Refund 게시판 전체 출력 -->
	<select id="selectAllRefund" resultType="Refund">
		select * from refund order by refundNo 
	</select>
	<!-- Refund 환불 체크 업데이트 -->
	<update id="refundUpdate">
		update refund set isRefund ='yes', refundProcessdate=now() where refundNo = #{refundNo};
	</update>
	
	<!-- RefundNo로 OrderNo가져오기 -->
	<select id="getOrderNo" resultType="int">
		select orderNo from refund where refundNo = #{refundNo}
	</select>
	<!-- Refund 게시판 insert -->
	<insert id="insertRefund">
		insert into refund(orderNo, userId, refundDate,refundReason) 
		values(#{orderNo},#{userId},now(),#{refundReason})
	</insert>
	<!-- refund 페이징 -->
	
	<!-- 페이징 -->
	<select id="getTotalPost" resultType="int">
		select count(*) as totalCnt from refund
	</select>
	
	<!-- adsfxcv -->

	<!-- Refund 게시판 한개 출력 -->
	<select id="selectRefund" resultType="Refund">
		select * from refund
		<choose>
			<when test="userId != null">
				where refundNo = #{refundNo}
			</when>
			<otherwise>
				where refundNo = #{refundNo} and orderPwd =
				sha1(md5(#{orderPwd}))
			</otherwise>
		</choose>
	</select>


	<!-- 비회원 refund -->
	<insert id="">
		insert into
		refund(orderNo,refundReason,orderPwd)
		values(#{orderNo},#{refundReason},#{orderPwd})
	</insert>

	<!-- Refund 게시판 delete -->
	<delete id="deleteRefund">
		delete from refund where refundNo = #{refundNo}
	</delete>

	<!-- 유저가 Refund 게시판 update -->
	<update id="updateRefundByUser">
		update refund set productPhoto = #{productPhoto},
		comment = #{comment} where refundNo = #{refundNo}
	</update>

</mapper>