<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<package name="com.bookdabang.common.domain"/>
		<package name="com.bookdabang.tsh.domain"/>
		<package name="com.bookdabang.cyh.domain"/>
		<package name="com.bookdabang.khn.domain"/>
		<package name="com.bookdabang.kmj.domain"/>
		<package name="com.bookdabang.lbr.domain"/>
		<package name="com.bookdabang.lcs.domain"/>
		<package name="com.bookdabang.ljs.domain"/>
		<package name="com.bookdabang.tsh.domain"/>
	</typeAliases>
</configuration>